# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- languages used in datascience:- sql,R,python
- environment used in datascience:-Jupyter Notebook,Ray,Spyder
- Data visualization tool-tableau
- data management tool-MongoDB MySQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. seaborn
5. Keras
6. Scikit-learn
7. pytorch

|Data Science Tools|
|:------------------:|
| Jupyter Notebook |
|------------------|
| Rstudio     |
|------------------|
| Spyder   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hour = min/60
print(hour)

3.3333333333333335

## AUTHOR
Varun Fatepuria